<nav role="navigation" class="large-3 columns">
    <ul class="title-area">
        <li class="name" style="list-style:none;">
          <h1>
            <a href="/">
              <i class="fi-play-video"></i> MovieStore
            </a>
          </h1>
        </li>
      </ul>
  <ul class="vertical menu icon-left" >
    <li style="list-style:none;"><i class="fi-list"></i> <%=link_to "Register", "#" %></li>
    <li style="list-style:none;"><i class="fi-list"></i> <%=link_to "Login", "#" %></li>
  </ul>
</nav>